@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
a{
    display: block;
}
main {
    position: relative;
    width: 1920px;
    height: 920px;
    background-color: #ddd;
    overflow: hidden;
    margin: 0 auto;
}
header {
    position: relative;
    width: 200px;
    height: 800px;
    background-color: lightgoldenrodyellow;
}
.img {
    width: 200px;
    height: 80px;
    background-color: lightcoral;
}
.headerlogo {

    position: absolute;
    top: 20px;
    width: 200px;
    height: 40px;
    background-color: lightblue;
}
.mainMenu {
    position: absolute;
    top: 40px;
    width: 160px;   
    left: 20px;
    position: relative;
}
.mainMenu > a {
    padding: 15px 1px;
    color: black;
}
.mainMenu > a:hover {
    background-color: #fff;
    border: 1px solid #ddd;
}
.subMenu {
    position: absolute;

    top: 120px;
    left: 179px;

    text-align: center; 
    border: 1px solid #ddd;
    z-index: 1;
}
.subMenu > ul {
    width: 1720px;
    display: flex;
    background-color: #fff;
    
}
.subMenu > ul >li {
    padding: 15px;
}
.subMenu > ul > li:hover {
    background-color: antiquewhite;
}
.subMenu > ul > li > a {
    color: black;
}
.bodyWrap {
    position: absolute;
    top:0;
    right: 0;
    width: 1720px;
    background-color: lightsteelblue;
    height: 920px;  
}

.slide {
    position: absolute;
    right: 0;
    top: 0;
    width: 1720px;
    height: 400px;
    background-color: lightsalmon;
}
.slide1 {
    width: 1720px;
    height: 400px;
    background-color: lightblue;
}
.slide2{
    width: 1720px;
    height: 400px;
    background-color: lightgray;
}
.slide3 {
    width: 1720px;
    height: 400px;
    background-color: lightseagreen;
}
.imgText {
    position: absolute;
    left: 45%;
    top: 35%;
    padding: 30px 50px ;
    background-color: rgba(0, 0, 0, 0.2);
}
.link {
    background-color: lightgreen;
    position: absolute;
    right: 0;
    top: 400px;
    width: 1720px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contents {
    position: absolute;
    width: 1720px;
    height: 250px;
    right: 0;
    top: 550px;
    background-color: lightseagreen;
    display: flex;
    justify-content: space-around;
}
.contents div {
    width: 50%;
}
.notice {
    background-color: lightcyan;
}
.notice > a {
    background-color: lightpink;
    width: 200px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}
.notice > ul {
    
    background-color: lightgray;
}
.notice > ul >li {
    padding: 16px 0;
}
.notice span {
    float: right;
}
.notice > ul >li:nth-child(even) {
    background-color: #fff;
}
.gallery {
    background-color: lightgoldenrodyellow;
}
.gallery > a {
    background-color: lightpink;
    width: 200px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}
.gallery > ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    background-color: lightgray;

    align-items: center;
}

footer {
    position: absolute;
    width: 1720px;
    height: 120px;
    background-color: lightpink;
    bottom: 0;
}
footer {
    display: flex;
}
.familysite {
    position: absolute;
    left: 1520px;
    width: 200px;
    height: 120px;
    align-items: center;
    background-color: lightblue;
}
#site {
    position: absolute;
    top: 40px;
    right: 40px;
    padding: 10px;
}
.divide {
    background-color: lightcoral;
    position: absolute;
    left: 0;
    width: 1520px;
    height: 120px;
    display: flex;
}
.footerMenu {
    position: absolute;
    top: 0;

    width: 1520px;
    height: 60px;
    align-items: center;
    background-color: lightgreen;
}
.footerMenu > ul {
    display: flex;
    justify-content: space-around;
}
.footerMenu > ul > li {
    padding-top: 20px;
}
.footerText {
    position: absolute;
    background-color: lightslategrey;
    width: 1520px;
    height: 60px;
    bottom: 0;
    align-items: center;
    padding-top: 10px;
}
.modalWrap {
    display: none;
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: lightseagreen;
    top: 33%;
    left: 40%;
}
.modalWrap.active {
    display: block;
}
.modal {
    text-align: center;
}
.modal > h1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 60px;
}
.modal > p {
    font-size: 14px;
    padding-bottom: 80px;
}
.btn {
    width: 50px;
    height: 40px;
}